<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

  <bean id="pointA" class="shapes.Point">
    <property name="x" value="0"/>
    <property name="y" value="0"/>
  </bean>

  <bean id="pointB" class="shapes.Point">
    <property name="x" value="-20"/>
    <property name="y" value="0"/>
  </bean>

  <bean id="pointC" class="shapes.Point">
    <property name="x" value="20"/>
    <property name="y" value="0"/>
  </bean>

  <bean id="circle" class="shapes.Circle" />

</beans>