<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="triangle" class="Triangle">
        <property name="points">
            <list>
                <ref bean="pointA" />
                <ref bean="pointB" />
                <ref bean="pointC" />
            </list>
        </property>
    </bean>

    <bean id="pointA" class="Point">
        <property name="x" value="0" />
        <property name="y" value="0" />
    </bean>

    <bean id="pointB" class="Point">
        <property name="x" value="-20" />
        <property name="y" value="0" />
    </bean>

    <bean id="pointC" class="Point">
        <property name="x" value="20" />
        <property name="y" value="0" />
    </bean>
</beans>